docker/sirma-platform/platform/seip-parent/model-management/definition-core/src/main/resources/com/sirma/itt/seip/definition/schema/common.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:complexType name="controlParam">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="idType" name="id" use="required" />
				<xs:attribute type="xs:string" name="name" use="required" />
				<xs:attribute type="xs:string" name="type" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="uiParam">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="idType" name="id" use="required" />
				<xs:attribute type="xs:string" name="name" use="required" />
				<xs:attribute type="xs:string" name="type" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="controlDefinition">
		<xs:sequence>
			<xs:element name="control-param" type="controlParam" maxOccurs="unbounded" minOccurs="0" />
			<xs:element name="ui-param" type="uiParam" maxOccurs="unbounded" minOccurs="0" />
			<xs:element name="fields" type="complexFieldsDefinition" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="idType" name="id" use="required" />
	</xs:complexType>

	<xs:complexType name="regionsDefinition">
		<xs:sequence>
			<xs:element name="region" type="regionDefinition" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="regionDefinition">
		<xs:sequence>
			<xs:element name="control" type="controlDefinition" minOccurs="0" />
			<xs:element name="condition" type="conditionDefinition" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="fields" type="complexFieldsDefinition" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="idType" name="id" use="required" />
		<xs:attribute type="xs:integer" name="order" />
		<xs:attribute type="displayTypeType" name="displayType" />
		<xs:attribute type="labelIdType" name="label" />
		<xs:attribute type="xs:string" name="tooltip" />
	</xs:complexType>

	<xs:complexType name="complexFieldDefinition">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="value" type="xs:string" minOccurs="0" />
			<xs:element name="condition" type="conditionDefinition" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="control" type="controlDefinition" minOccurs="0" />
		</xs:choice>
		<xs:attribute type="xs:integer" name="order" />
		<xs:attribute type="idType" name="name" use="required" />
		<xs:attribute type="xs:string" name="type" />
		<xs:attribute type="xs:boolean" name="multiValued" />
		<xs:attribute type="codelist" name="codelist" />
		<xs:attribute type="expressionType" name="rnc" />
		<xs:attribute type="labelIdType" name="label" />
		<xs:attribute type="labelIdType" name="tooltip" />
		<xs:attribute type="xs:boolean" name="mandatory" />
		<xs:attribute type="displayTypeType" name="displayType" />
		<xs:attribute type="xs:boolean" name="previewEmpty" />
		<xs:attribute type="xs:string" name="dmsType" />
		<xs:attribute type="xs:string" name="filters" />
		<xs:attribute name="uri">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(\S+:\S+)|(FORBIDDEN)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute type="xs:boolean" name="unique" />
		<xs:attribute type="xs:boolean" name="override" />
	</xs:complexType>

	<xs:complexType name="complexFieldsDefinition">
		<xs:sequence>
			<xs:element name="field" type="complexFieldDefinition" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="filterDefinitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="filter" type="filterDefinition" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="filterDefinition">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="idType" name="id" use="required" />
				<xs:attribute type="filterModeType" name="mode" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="conditionDefinition">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="idType" name="id" use="required" />
				<xs:attribute type="renderAsType" name="renderAs" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="labels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="label" type="label" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="label">
		<xs:sequence>
			<xs:element name="value" type="labelValue" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute type="labelIdType" name="id" use="required" />
	</xs:complexType>

	<xs:complexType name="labelValue">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="lang" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="codelist">
		<xs:restriction base="xs:string">
			<xs:pattern value="(CL)\d{1,3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="expressionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2048" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="renderAsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIDDEN" />
			<xs:enumeration value="VISIBLE" />
			<xs:enumeration value="DISABLED" />
			<xs:enumeration value="ENABLED" />
			<xs:enumeration value="REQUIRED" />
			<xs:enumeration value="READONLY" />
			<xs:enumeration value="DISABLE_SAVE" />
			<xs:enumeration value="PROPERTY" />
			<xs:enumeration value="OPTIONAL" />
			<xs:enumeration value="MANDATORY" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="filterModeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INCLUDE" />
			<xs:enumeration value="EXCLUDE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="displayTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="system" />
			<xs:enumeration value="readonly" />
			<xs:enumeration value="read_only" />
			<xs:enumeration value="readOnly" />
			<xs:enumeration value="hidden" />
			<xs:enumeration value="editable" />
			<xs:enumeration value="delete" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="idType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100" />
			<xs:pattern value="[a-zA-Z0-9_:]{1,100}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idTypeWildcard">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100" />
			<xs:pattern value="[a-zA-Z0-9_:*]{1,100}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="allowedChildrenType">
		<xs:sequence>
			<xs:element name="child" type="childType" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="childType">
		<xs:sequence>
			<xs:element name="configs" type="configsType" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="objectType" name="type" use="required" />
		<xs:attribute type="allowedChildIdType" name="id" use="required" />
		<xs:attribute type="xs:boolean" name="defaultChild" />
	</xs:complexType>

	<xs:complexType name="configsType">
		<xs:sequence>
			<xs:element name="config" type="configType" maxOccurs="unbounded" minOccurs="0" />
			<xs:element name="filter" type="filterType" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="configType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="control" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="filterType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="property" />
				<xs:attribute type="xs:string" name="codelist" />
				<xs:attribute type="checkTypes" name="mode" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="allowedChildIdType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100" />
			<xs:pattern value="[\w\.\-$_]{1,100}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="labelIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="checkTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="hasValue" />
			<xs:enumeration value="isEmpty" />
			<xs:enumeration value="contains" />
			<xs:enumeration value="equals" />
			<xs:enumeration value="in" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="objectType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="case" />
			<xs:enumeration value="task" />
			<xs:enumeration value="workflow" />
			<xs:enumeration value="workflowtask" />
			<xs:enumeration value="object" />
			<xs:enumeration value="section" />
			<xs:enumeration value="document" />
			<xs:enumeration value="comment" />
			<xs:enumeration value="link" />
			<xs:enumeration value="project" />
			<xs:enumeration value="user" />
			<xs:enumeration value="group" />
			<xs:enumeration value="topic" />
			<xs:enumeration value="imageAnnotation" />
			<xs:enumeration value="dashlet" />
			<xs:enumeration value="folder" />
			<xs:enumeration value="query" />
			<xs:enumeration value="class" />
			<xs:enumeration value="script" />
			<xs:enumeration value="rule" />
			<xs:enumeration value="timer" />
			<xs:enumeration value="facetConfig" />
			<xs:enumeration value="advancedSearchConfig" />
			<xs:enumeration value="labels" />
			<xs:enumeration value="annotation" />
			<xs:enumeration value="image" />
			<xs:enumeration value="survey" />
			<xs:enumeration value="uiTheme" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="transitionsDefinition">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="transition" type="transitionDefinition" maxOccurs="unbounded"
				 />
			<xs:element name="group" type="transitionGroupDefinition" maxOccurs="unbounded"
				minOccurs="0" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="transitionDefinition">
		<xs:sequence>
			<xs:element name="condition" type="conditionDefinition" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="fields" type="complexFieldsDefinition" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="idType" name="id" use="required" />
		<xs:attribute type="displayTypeType" name="displayType" />
		<xs:attribute type="xs:string" name="label" />
		<xs:attribute type="xs:string" name="tooltip" />
		<xs:attribute type="xs:string" name="eventId" />
		<xs:attribute type="xs:string" name="nextPrimaryState" />
		<xs:attribute type="xs:string" name="nextSecondaryState" />
		<xs:attribute type="xs:boolean" name="defaultTransition" />
		<xs:attribute type="xs:boolean" name="immediate" />
		<xs:attribute type="xs:string" name="purpose" />
		<xs:attribute type="xs:integer" name="order" />
		<xs:attribute type="xs:string" name="confirmation" />
		<xs:attribute type="xs:string" name="disabledReason" />
		<xs:attribute type="xs:string" name="actionPath" />
		<xs:attribute type="xs:string" name="group" />
	</xs:complexType>

	<xs:complexType name="transitionGroupDefinition">
		<xs:attribute type="idType" name="id" use="required" />
		<xs:attribute type="xs:string" name="label" />
		<xs:attribute type="xs:string" name="parent" />
		<xs:attribute type="xs:integer" name="order" />
		<xs:attribute type="xs:string" name="type" />
	</xs:complexType>

	<xs:complexType name="stateTransitionsDefinition">
		<xs:sequence>
			<xs:element name="stateTransition" type="stateTransitionDefinition" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="stateTransitionDefinition">
		<xs:sequence>
			<xs:element name="condition" type="conditionDefinition" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute type="idTypeWildcard" name="from" use="required" />
		<xs:attribute type="idType" name="transition" use="required" />
		<xs:attribute type="idType" name="to" />
	</xs:complexType>

</xs:schema>